<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css">
    @RenderSection("Content", false)
</head>
<body>
    @RenderBody()
</body>
</html>