@{
    @model Shift
    ViewBag.Title = "Adminy - Home";
}

<h1>Home</h1>

<form method="post">
    <div class="errormsg">
        @Html.ValidationSummary()
    </div>
    <table class="form">
        <tr>
            <td>@Html.LabelFor(m => m.Date)</td>
            <td>@Html.EditorFor(m => m.Date)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Start)</td>
            <td>@Html.TextBoxFor(m => m.Start)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.End)</td>
            <td>@Html.TextBoxFor(m => m.End)</td>
        </tr>
        
    </table>
    <input type="submit" value="Submit" class="btn">
</form>