@{
    ViewBag.Title = "Adminy - Overview";
}

<h1>Overview</h1>
<p>Here you have an overview of all the data you have entered:</p>
<br />
<table class="overview">
    <tr>
        <th>Day</th>
        <th>Month</th>
        <th>Year</th>
        <th>Start</th>
        <th>End</th>
    </tr>
        @foreach (var Shift in Model)
        {
            <tr>
                <td>@Shift.Date.Day</td>
                <td>@Shift.Date.Month</td>
                <td>@Shift.Date.Year</td>
                <td>@Shift.Start</td>
                <td>@Shift.End</td>
            </tr>
        }
</table>
